# ===========================
# Maven
# ===========================
target/
**/target/

# ===========================
# IntelliJ
# ===========================
.idea/
*.iml

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Logs
# ===========================
logs/
*.log

# ===========================
# Environment
# ===========================
.env

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db